@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap');


* {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px black solid
}

.contentInput {
  align-items: center;
  padding: 5px;
}

.btn-custom {
  margin: 5px;
}

.card-costom {
  margin: 5px;
}